.heading {
    font-size: calc(20px + 1vw);
}

.menu {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: max-content;
    transition: .2s all;
    margin-left: 75%;
    border-radius: 100%;
    width: calc(19px + 1.9vw);
    height: calc(19px + 1.9vw);
    &:hover {
        background: rgb(29, 161, 242, 0.5)
    }
    & {
        @media only screen and (max-width: 600px) {
            display: flex;
        }
        @media only screen and (max-width: 400px) {
            margin-left: 67%;
        }
    }
}

.menuBtn {
    width: calc(15px + 1.5vw);
    height: calc(15px + 1.5vw);
}

.linkDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    cursor: pointer;
    &:hover {
        background: rgb(29, 161, 242, 0.5);
    }
}