@font-face {
  font-family: "HNFont";
  src: url("/fonts/HelveticaNeue/HelveticaNeue.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "HNFont";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "HNFont";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

html,
body {
  padding: 0 auto;
  margin: 0;
  font-family: HNFont;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
