.logo {
  margin-top: calc(14px + 0.7vw);
  margin-left: calc(7px + 0.7vw);
  width: calc(60px + 4vw);
  cursor: pointer;
}

.mainFlex {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContent {
  border-left: 0.1vw solid rgb(255, 255, 255, 0.2);
  border-right: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: calc(300px + 26vw);
}

.nav {
  border-bottom: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: 100%;
}

.pageName {
  font-size: calc(18px + 0.2vw);
  margin-left: calc(10px + 1vw);
}

.overFlowY {
  height: 100vh;
  padding-bottom: calc(100px + 5vw);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overFlowY::-webkit-scrollbar {
  display: none;
}

.parseParent {
  height: calc(80px + 4vw);
}

.divider {
  height: calc(5px + 0.5vw);
  margin-top: 120px;
  background: rgb(21, 24, 28);
  border-bottom: 0.1vw solid rgb(255, 255, 255, 0.2);
  border-top: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: 100%;
}