.logo {
  margin-top: calc(14px + 0.7vw);
  width: calc(60px + 4vw);
  cursor: pointer;
}

.mainFlex {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContent {
  border-left: 0.1vw solid rgb(255, 255, 255, 0.2);
  border-right: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: 45%;
  & {
    @media only screen and (max-width: 900px) {
        width: 70%;
    }
    @media only screen and (max-width: 900px) {
      width: 80%;
    }
}
}

.nav {
  border-bottom: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: 100%;
}

.pageName {
  font-size: calc(18px + 0.2vw);
  margin-left: calc(10px + 1vw);
  color: rgb(255, 255, 255, 0.8);
}

.overFlowY {
  height: 100vh;
  padding-bottom: calc(50px + 5vw);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overFlowY::-webkit-scrollbar {
  display: none;
}

.parseParent {
  height: calc(100px + 4vw);
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profilePicture {
  width: calc(25px + 1.5vw);
  border-radius: 100%;
}

.divider {
  height: calc(5px + 0.5vw);
  // margin-top: calc(50px + 2vw);
  background: rgb(21, 24, 28);
  border-bottom: 0.1vw solid rgb(255, 255, 255, 0.2);
  border-top: 0.1vw solid rgb(255, 255, 255, 0.2);
  width: 100%;
}

.parseChild {
  display: flex;
  align-items: flex-start;
  width: 70%;
  height: calc(100% - (6px + 0.6vw));
  margin-left: calc(10px + 1vw);
  margin-top: calc(6px + 0.6vw);
}

.articleInput {
  background: transparent;
  outline: none;
  border: none;
  caret-color: #6d767e;
  color: #6d767e;
  width: 100%;
  font-size: calc(12px + 0.5vw);
  margin-left: calc(10px + 0.3vw);
  margin-top: calc(8px + 0.3vw);
  &::placeholder {
    color: white;
  }
}

.smallDivider {
  margin-left: calc(10px + 0.3vw);
  margin-top: calc(20px + 1vw);
  width: calc(200px + 20vw);
  height: 1px;
  background: rgb(109,118,126, 0.5);
}

.parseBtn {
  background: rgb(29, 161, 242);
  border-radius: calc(15px + 1vw);
  font-size: calc(10px + 0.5vw);
  font-weight: 500;
  cursor: pointer;
  margin-left: 80%;
  margin-top: calc(10px + 0.4vw);
  color: white;
  width: calc(35px + 4vw);
  height: calc(15px + 1.5vw);
  border: none;
  transition: .3s all;
  &:hover {
    background: rgb(29, 161, 242, 0.7);
    color: rgb(255, 255, 255, 0.7);
  }
  &:disabled {
    background: rgb(29, 161, 242, 0.7);
    color: rgb(255, 255, 255, 0.7);
    cursor: default;
  }
}

.tweetsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}