.logo {
  margin-top: calc(14px + 0.7vw);
  margin-left: calc(7px + 0.7vw);
  width: calc(60px + 4vw);
  cursor: pointer;
}

.mainFlex {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.mainContent {
  margin-left: calc(20px + 2vw);
}