.parent {
    width: 30%;
    & {
        @media only screen and (max-width: 900px) {
            width: 15%
        }
        @media only screen and (max-width: 600px) {
            width: 0%
        }
    }
}