.parent {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    align-items: center;
    padding-right: calc(10px + 1vw);
    & {
        @media only screen and (max-width: 600px) {
            margin-left: calc(10px + 1vw);
            width: 0%;
            display: none;
        }
        @media only screen and (max-width: 900px) {
            padding-right: calc(15px + 1vw);
            margin-left: calc(10px + 1vw);
            width: 20%;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    width: calc(90px + 7vw);
    height: calc(20px + 1.8vw);
    margin-top: calc(20px + 1vw);
    cursor: pointer;
    border-radius: calc(15px + 1vw);
    &:hover {
        background: rgb(29, 161, 242, 0.16);
    }
    & {
        @media only screen and (max-width: 600px) {
            width: calc(50px + 5vw);
        }
    }
}

.linkName {
    font-weight: 600;
    font-size: calc(11px + 0.5vw);
    margin-left: calc(5px + 0.7vw);
    & {
        @media only screen and (max-width: 600px) {
            font-size: calc(5px + 0.4vw);
        }
    }
}

.icon {
    margin-left: calc(7px + 0.7vw);
    display: flex;
    align-items: center;
    width: calc(12px + 1vw);
    & {
        @media only screen and (max-width: 600px) {
            margin-left: calc(4px + 0.4vw);
        }
    }
}

.activeIcon {
    stroke: rgb(29, 161, 242);
}

.parseBtn {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: calc(90px + 7vw);
    height: calc(20px + 1.8vw);
    margin-top: calc(20px + 1vw);
    cursor: pointer;
    border-radius: calc(15px + 1vw);
    background: rgb(29, 161, 242);
    transition: .3s all;
    font-size: calc(8px + 0.5vw);
    &:hover {
        background: rgb(29, 161, 242, 0.7);
    }
    & {
        @media only screen and (max-width: 600px) {
            width: calc(50px + 5vw);
        }
    }
}
