.parent {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    border-bottom: 0.1vw solid rgb(255, 255, 255, 0.2);
    cursor: pointer;
    transition: .3s all;
    &:hover {
        background: rgba(255, 255, 255, 0.02);
    }
}

.cover {
    max-width: 95%;
    border-radius: calc(10px + 0.5vw);
    border: 12px;
}

.title {
    font-size: calc(10px + 0.4vw);
    width: 90%;
    margin-top: 6px;
    color: rgb(255, 255, 255, 0.8);
}

.profile {
    border-radius: 100%;
    width: calc(25px + 1.5vw);
    margin-left: 3.5%;
    margin-top: 2.5%;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

.publishing {
    display: flex;
    margin-top: calc(8px + 0.4vw);
}

.publishing p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: calc(10px + 0.4vw);
    width: max-content;
}

.author {
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

.source {
    color: #697179;
    margin-left: 6px;
    &:hover {
        text-decoration: underline;
    }
}

.verified {
    margin-left: 6px;
    width: calc(10px + 0.5vw);
    height: calc(10px + 0.5vw);
}

.date {
    color: #697179;
    margin-left: 6px;
}

.buttons {
    display: flex;
    width: 85%;
    position: relative;
    justify-content: space-between;
    margin-bottom: calc(5px + 0.5vw);
}

.icon {
    width: calc(10px + 0.5vw);
    height: calc(10px + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.likeIcon {
    margin-top: calc(5px + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: calc(18px + 0.7vw);
    height: calc(18px + 0.7vw);
    transition: .3s all;
    position: relative;
    &:hover {
        background: rgb(224, 36, 94, 0.5);
    }
}

.shareIcon {
    margin-top: calc(5px + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: calc(18px + 0.7vw);
    height: calc(18px + 0.7vw);
    transition: .3s all;
    position: relative;
    &:hover {
        background: rgba(29, 161, 242, 0.5);
    }
}

.reIcon {
    margin-top: calc(5px + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: calc(18px + 0.7vw);
    height: calc(18px + 0.7vw);
    transition: .3s all;
    position: relative;
    &:hover {
        background: rgba(23, 191, 99, 0.5);
    }
}

.iconParentNoHover {
    margin-top: calc(5px + 0.5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: calc(18px + 0.7vw);
    height: calc(18px + 0.7vw);
    transition: .3s all;
    position: relative;
    cursor: default;
}

.sharePopup {
    position: absolute;
    width: 40%;
    margin-left: 70%;
    margin-top: 3%;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;

}

.sharePopupChild {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s all;
    &:hover {
        background: rgb(255, 255, 255, 0.05);
    }
    & > * {
        margin-left: calc(7px + 0.7vw);
        font-size: calc(10px + 0.4vw);
    }
}